# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [1]:
# Write your answer here:
print(2609525)

2609525

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 19)

In [4]:
# Write your answer here:
import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```formula1``` <br>
from Python as in Lecture 18 using <br>
```URL()``` and ```create_engine()```

In [5]:
# Write your own code
url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'formula1',
    username = 'postgres',
    port = 5432,
    password  = '12345')

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```
- Upload the CSV files to the server, even if you already have the tables

In [6]:
# Write your own code
lap_times = pd.read_csv("data_raw/lap_times.csv")
drivers = pd.read_csv("data_raw/drivers.csv")

lap_times.to_sql('races', 
             con = connection, 
             if_exists='replace',
             index=False)

drivers.to_sql('races', 
             con = connection, 
             if_exists='replace',
             index=False)

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [9]:
# Write your own code
set1 = pd.read_sql(text("SELECT * \
                             FROM drivers \
                             WHERE nationality = 'American' \
                            ORDER BY surname ASC;"), connection)

print(set1)

     driverId       driverRef number code forename     surname         dob  \
0         796            ader     \N   \N     Walt        Ader  1913-12-15
1         615      agabashian     \N   \N     Fred  Agabashian  1913-08-21
2         517           amick     \N   \N      Red       Amick  1929-01-19
3         591    george_amick     \N   \N   George       Amick  1924-10-24
4         121        andretti     \N   \N  Michael    Andretti  1962-10-05
..        ...             ...    ...  ...      ...         ...         ...
153       449            ward     \N   \N   Rodger        Ward  1921-01-10
154       677            webb     \N   \N   Travis        Webb  1910-10-08
155       530          weiler     \N   \N    Wayne      Weiler  1934-12-09
156       563          weyant     \N   \N    Chuck      Weyant  1923-04-03
157       539  dempsey_wilson     \N   \N  Dempsey      Wilson  1927-03-11

    nationality                                            url
0      American         http://en.wikipedia.org/wiki/Walt_Ader
1      American   http://en.wikipedia.org/wiki/Fred_Agabashian
2      American         http://en.wikipedia.org/wiki/Red_Amick
3      American      http://en.wikipedia.org/wiki/George_Amick
4      American  http://en.wikipedia.org/wiki/Michael_Andretti
..          ...                                            ...
153    American       http://en.wikipedia.org/wiki/Rodger_Ward
154    American       http://en.wikipedia.org/wiki/Travis_Webb
155    American      http://en.wikipedia.org/wiki/Wayne_Weiler
156    American      http://en.wikipedia.org/wiki/Chuck_Weyant
157    American    http://en.wikipedia.org/wiki/Dempsey_Wilson

[158 rows x 9 columns]

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [ ]:
set2 = pd.read_sql(text("SELECT COUNT(DISTINCT \"driverId\)" AS unique_driver_count \ 
                        FROM drivers;"), connection)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [15]:
set3 = pd.read_sql(text("SELECT AVG(milliseconds) as mean_milliseconds \
                        FROM lap_times \
                        GROUP BY \"driverId\" \
                        ORDER BY mean_milliseconds;"), connection)

print(set3)

   mean_milliseconds
0            73984.0
1            89626.0
2            98109.0

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [16]:
# Write your own code
set4 = pd.read_sql(text("SELECT *\
                        FROM lap_times\
                        LEFT JOIN drivers\
                        ON lap_times.\"driverId\" = drivers.\"driverId\";"), connection)

print(set4)

   raceId  driverId  lap  position     time  milliseconds  driverId driverRef  \
0     841        20    1         1  01:38.1         98109        20    vettel
1     167        64   48        10  01:14.0         73984        64     diniz
2     341         3   65        13  01:29.6         89626         3   rosberg

  number code   forename  surname         dob nationality  \
0      5  VET  Sebastian   Vettel  1987-07-03      German
1     \N   \N      Pedro    Diniz  1970-05-22   Brazilian
2      6  ROS       Nico  Rosberg  1985-06-27      German

                                             url
0  http://en.wikipedia.org/wiki/Sebastian_Vettel
1       http://en.wikipedia.org/wiki/Pedro_Diniz
2      http://en.wikipedia.org/wiki/Nico_Rosberg